<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <!--          <header class="heading">Nos Partenaires</header>-->
          <div class="center btmspace-80">
            <h2 class="heading underline font-x2">NOS REFERENCES</h2>
          </div>
          <ul class="nospace clear center">
            <li class="one_quarter first"><a href="#"><img src="../assets/images/partenaire-1.png" alt=""><p style="color:#ffeaea" align="center">Sigmap Togo</p></a></li>
            <li class="one_quarter"><a href="#"><img src="../assets/images/partenaire-2.jpg" alt=""><p style="color:#ffeaea " align="center">Projet de la Douane</p></a></li>
            <li class="one_quarter"><a href="#"><img src="../assets/images/partenaire-3.jpg" alt=""><p style="color:#ffeaea " align="center">Projet UEMOA</p></a></li>
            <li class="one_quarter"><a href="#"><img src="../assets/images/partenaire-4.jpg" alt=""><p style="color:#ffeaea " align="center">ARMP</p></a></li>
            <!--            <li class="one_quarter first"><a href="#"><img src="../assets/images/partenaire-5.png" alt=""></a></li>-->
            <li class="one_quarter first"><a href="#"><img src="../assets/images/partenaire-6.png" alt=""><p style="color:#ffeaea" align="center">PORT</p></a></li>
            <li class="one_quarter"><a href="#"><img src="../assets/images/partenaire-7.gif" alt=""><p style="color:#ffeaea" align="center">Sigmap Niger</p></a></li>
            <li class="one_quarter"><a href="#"><img src="../assets/images/partenaire-8.png" alt=""><p style="color:#ffeaea" align="center">Sigmap Burkina</p></a></li>
            <li class="one_quarter "><a href="#"><img src="../assets/images/partenaire-9.png" alt=""><p style="color:#ffeaea" align="center">AFTU</p></a></li>
            <li class="one_quarter first"><a href="#"><img src="../assets/images/partenaire-10.png" alt=""><p style="color:#ffeaea" align="center">Trésor Public</p></a></li>
            <li class="one_quarter"><a href="#"><img src="../assets/images/partenaire-11.png" alt=""><p style="color:#ffeaea" align="center">SODEFITEX</p></a></li>
            <!--            <li class="one_quarter"><a href="#"><img src="../assets/images/partenaire-1.png" alt=""></a></li>-->
          </ul>
          <!--          <figcaption>Gallery Description Goes Here</figcaption>-->
        </figure>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
