.tm-btn-secondary {
  color: #ff877c;
  background-color: white;
}

.tm-btn-secondary:hover,
.tm-btn-secondary:focus {
  background-color: white;
}

.underline{
  margin-top: 20px;
}

.one_quarter {
  background-color: white;
  color: #0E76A8;
}
