<div class="row" style="background-color: #0E76A8; color: #fff1e8">
  <div class="col-lg-12">
    <section>
      <div class="center btmspace-80">
        <h2 class="heading underline font-x2">NOS PRODUITS</h2>
      </div>
      <ul class="nospace group overview btmspace-80">
        <li class="one_quarter">
          <article>
            <h2 class="heading" align="center"><a href="#">SIGMAP</a></h2>
           <p class="text-justify"> <span>
             Système Intégré de Gestion des Marchés Publics déployé dans 5 des 8 pays de l’UEMOA  (Togo; Bénin; Niger; Burkina Faso; Sénégal).
            </span>
            <span [hidden]="visibilitePage">
              Gestion du processus de passation des marchés pour les autorités contractantes
              Gestion des marchés par la Direction Centrale des Marchés Publics
              Gestion des recours par l’Autorité de Régulation des Marchés Publics
              Publication de toutes les informations relatives aux marchés publics via un portail web
            </span>
             <span class="text-center mt-4 mb-0">
              <button data-scroll class="btn tm-btn-secondary" (click)="lirePlus(buttonContent)">{{buttonContent}}</button>
              </span><br/>
           </p>
          </article>
        </li>
        <li class="one_quarter">
          <article>
            <h2 class="heading" align="center"><a href="#">DAIDA</a></h2>
            <p class="text-justify">
              <span>
                Plateforme de  gestion de la dette publique. Analyse de concessionnalité des offres de financement; Dette extérieure;
             </span>
              <span [hidden]="visibilitePage1">
              Dette intérieure;
              Analyse de viabilité de la dette
              Stratégie de la Dette à Moyen Terme (SDMT);
              Tableau de bord sur la dette.
             </span>
              <span class="text-center mt-4 mb-0">
                <button data-scroll class="btn tm-btn-secondary" (click)="lirePlus1(buttonContent1)">{{buttonContent1}}</button>
             </span>
            </p>
          </article>
        </li>
        <li class="one_quarter">
          <article>
            <h2 class="heading" align="center"><a href="#">GRED</a></h2>
            <p class="text-justify">
              <span>
                Dématérialisation du processus de gestion des régimes économiques douaniers: Dématérialisation des demandes d’exonération
              </span>
              <span [hidden]="visibilitePage2">avec authentification forte et signature électronique
              Dématérialisation du traitement des demandes d’exonération avec authentification forte et signature électronique
              Production des statistiques sur les exonérations
              </span><br/>
              <span class="text-center mt-4 mb-0">
              <button data-scroll class="btn tm-btn-secondary" (click)="lirePlus2(buttonContent2)">{{buttonContent2}}</button>
              </span>
            </p>
          </article>
        </li>
        <li class="one_quarter">
          <article>
            <h2 class="heading" align="center"><a href="#">ATLANTIS</a></h2>
            <p class="text-justify">
              <span>
                Refonte des applicatifs métiers du Port Autonome de Dakar: Prévision et de programmation des escales Gestion des infrastructures portuaires
              </span>
              <span [hidden]="visibilitePage3">
              Gestion et facturation  du compte d’escale
              Facturation des marchandises de commerce et de pêche
              Facturation des prestations diverses
              Gestion de la clientèle
              </span><br/>
              <span class="text-center mt-4 mb-0">
              <button data-scroll class="btn tm-btn-secondary" (click)="lirePlus3(buttonContent3)">{{buttonContent3}}</button>
              </span>
            </p>
          </article>
        </li>
      </ul>
      <div class="clear"></div>
    </section>
  </div>
<!--  /////////////////////////////////////////////////////////////////////// -->
  <div class="col-lg-12">
    <section>
      <ul class="nospace group overview btmspace-80">
        <li class="one_quarter">
          <article>
            <h2 class="heading" align="center"><a href="#">CAPTRANS</a></h2>
            <p>
              <span>
                Gestion du Reseau AFTU
              </span>
              <span>

              </span><br/>
              <span class="text-center mt-4 mb-0">
              <button data-scroll class="btn tm-btn-secondary" >{{buttonContent4}}</button>
              </span>
            </p>
          </article>
        </li>
<!--        <li class="one_quarter">-->
<!--          <article>-->
<!--            <h6 class="heading"><a href="#">DAIDA</a></h6>-->
<!--            <p>Plateforme de  gestion de la dette publique.-->
<!--              Analyse de concessionnalité des offres de financement;-->
<!--              Dette extérieure;-->
<!--              Dette intérieure;-->
<!--              Analyse de viabilité de la dette-->
<!--              Stratégie de la Dette à Moyen Terme (SDMT);-->
<!--              Tableau de bord sur la dette.-->
<!--            </p>-->
<!--          </article>-->
<!--        </li>-->
<!--        <li class="one_quarter">-->
<!--          <article>-->
<!--            <h6 class="heading"><a href="#">GRED</a></h6>-->
<!--            <p>Dématérialisation du processus de gestion des régimes économiques douaniers:-->
<!--              Dématérialisation des demandes d’exonération avec authentification forte et signature électronique-->
<!--              Dématérialisation du traitement des demandes d’exonération avec authentification forte et signature électronique-->
<!--              Production des statistiques sur les exonérations-->
<!--            </p>-->
<!--          </article>-->
<!--        </li>-->
<!--        <li class="one_quarter">-->
<!--          <article>-->
<!--            <h6 class="heading"><a href="#">ATLANTIS</a></h6>-->
<!--            <p>Refonte des applicatifs métiers du Port Autonome de Dakar:-->
<!--              Prévision et de programmation des escales-->
<!--              Gestion des infrastructures portuaires-->
<!--              Gestion et facturation  du compte d’escale-->
<!--              Facturation des marchandises de commerce et de pêche-->
<!--              Facturation des prestations diverses-->
<!--              Gestion de la clientèle-->
<!--            </p>-->
<!--          </article>-->
<!--        </li>-->
      </ul>
      <div class="clear"></div>
    </section>
  </div>
</div>

