<!-- Top Background Image Wrapper -->
<div class="bgded overlay" >
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear">
      <div class="fl_left">
        <ul class="nospace">
          <li><i class="fas fa-phone"></i>+221 33 865 11 50/+221 33 864 51 84</li>
          <li><i class="far fa-envelope"></i> ssi@ssi.sn</li>
        </ul>
      </div>
      <div class="fl_right">
        <ul class="nospace">
          <li><a title="Connexion" (click)="onLogin()" class="clickable-2"><i class="fas fa-sign-in-alt"></i></a></li>
          <li><a title="S'inscrire" (click)="onRegister()" class="clickable-2"><i class="fas fa-edit"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <div class="gb_na">
          <a routerLink="/">
            <img src="../assets/images/demo/backgrounds/Logo_2Si_baseline_BD.jpg"/>
          </a>
        </div>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
<!--          <li class="active"><a routerLinkActive="active" routerLink="/">Accueil</a></li>-->
          <li><a class="drop" routerLinkActive="active" routerLink="apropos">A Propos</a>
            <ul>
              <li><a routerLink="/apropos/prixdistinctions">Prix et Distinctions</a></li>
              <li><a routerLink="/apropos/nosproduits">Nos Produits</a></li>
              <li><a routerLink="/apropos/nospartenaires" >Nos Partenaires</a>
<!--                <ul>-->
<!--                  <li><a routerLink="/nospartenaires">Consultants</a></li>-->
<!--&lt;!&ndash;                  <li><a href="#">Dépôt de CV en ligne</a></li>&ndash;&gt;-->
<!--                </ul>-->
              </li>
              <li><a routerLink="/apropos/references">Les Références</a></li>
            </ul>
          </li>
          <li><a class="drop" routerLink="/nos-services">Services</a>
            <ul>
              <li><a routerLink="/service-esigmap">E-Sigmap</a></li>
              <li><a routerLink="/service-eticketing">E-Ticketing</a></li>
              <li><a routerLink="/service-etransport">E-Transport</a></li>
<!--              <li>-->
<!--                <a class="drop" >TRANSPORTS</a>-->
<!--                <ul>-->

<!--                </ul>-->
<!--              </li>-->
            </ul>
          </li>
          <li><a class="drop" routerLinkActive="active" routerLink="/ressources">Ressources</a>
            <ul>
              <li><a href="#">Webinar</a></li>
              <li><a href="#">Livre blanc</a></li>
              <li><a href="#">Les Blogs</a></li>
            </ul>
          </li>
          <li><a class="drop" routerLinkActive="active" routerLink="/assistance">Assistance</a>
            <ul>
              <li><a routerLink="/message-visiteur">Messages du visiteurs(es)</a></li>
              <li><a routerLink="/support-technique"> Support technique</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
  </div>
</div>
<!--<script src="./assets/layout/scripts/jquery.mobilemenu.js"></script>-->
<!-- End Top Background Image Wrapper -->
