/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  //width: 33.33%;
  width: 50%;
  padding: 50px;
  background-color: #0e76a8;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.paraservtitle {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}
.paraservdesc {
  color: #ffffff;
  font-size: 18px;
  width:100%;
}
