<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

<h1 class="about-header"
  font-family="'Larsseit webfont',Arial,sans-serif "
  font-size= "35px"
  font-style="normal"  style="color: #073f80 ">Les Ressources</h1>
<div class="how-section1" style="background-color: #c6ebfc">
  <div class="row">
    <div class="col-md-6 how-img" style="padding-top: 2%">
      <div class="" id="webinar" style="width:650px; height: 500px">
      <img src=""   class="img-fluid" alt="" />
    </div>

    </div>

    <div class="col-md-6">
      <h3 style="color: #073f80">Qu'est-ce qu'un webinaire et comment ça marche ?</h3>

      <p> </p>

      <p class="paraserv" >
        Un webinaire est une activité en ligne offerte par une organisation ou
        une entreprise et diffusée par Internet sur les ordinateurs d’un groupe
        de participants choisis. (Un webinaire est parfois également appelé «webémission»,
        «activité en ligne» ou «séminaire Web».)
       </p>
       <p class="paraserv" >  Un webinaire permet à un conférencier d’une organisation
         ou d’une entreprise de présenter des exposés PowerPoint, des vidéos,
          des pages Web ou d’autre contenu multimédia avec des participants,
           où qu'ils se trouvent.
       </p>
      <p class="paraserv">
         Habituellement, les webinaires ont des volets sonores et visuels.
         La communication du volet visuel d’un webinaire se fait par
         le truchement d’un outil de conférence web ou d’un navigateur Internet.
          Le volet audio est habituellement diffusé sur les ordinateurs des participants
         (haut-parleurs et lecteur multimédia) ou par téléphone.

      </p>
      <p class="paraserv" >
        Un webinaire permet également à l’organisation ou à l’entreprise d’interagir
         avec son public cible. Les participants peuvent poser au conférencier ou
         à l’animateur (la personne qui dirige le webinaire) des questions en direct
         par messagerie instantanée ou par courriel.

            </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 how-img" style="padding-top: 2%">
      <div class="" id="livreblanc" style="width:650px; height: 450px">
      <img src=""   class="img-fluid" alt="" />
    </div>

    </div>

    <div class="col-md-6">
      <h3 style="color: #073f80">Qu'est-ce qu'un Livre blanc ?</h3>

      <p> </p>

      <p class="paraserv" >
        Un livre blanc (white paper en anglais) est un outil de communication se positionnant
         comme un guide pratique pour son lecteur. Il répond à une problématique prédéfinie
         et aide le lecteur à opter pour une solution ou à prendre une décision.
       </p>
       <p class="paraserv" >
        Le livre blanc peut être édité par des organismes institutionnels.
        Mais c'est un outil utilisé principalement par des entreprises ou
        des agences de communication dans une stratégie de content marketing.

       </p>
      <p class="paraserv">
        Le livre blanc sert à faire venir les prospects vers l'entreprise en
        leur proposant des conseils professionnels liés à leur problématique.
        C'est une stratégie gagnant-gagnant puisque le lecteur y trouve
        gratuitement des informations détaillées et objectives.

      </p>
      <p class="paraserv" >
        Cette approche permet à l'entreprise d'être perçue comme une experte
        dans son domaine et de recueillir les coordonnées des prospects,
        via un formulaire sur son site web, en échange du téléchargement du livre blanc.
        </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 how-img" style="padding-top: 2%">
      <div class="" id="bloc" style="width:650px; height: 500px">
      <img src=""   class="img-fluid" alt="" />
    </div>

    </div>

    <div class="col-md-6">
      <h3 style="color: #073f80">Qu'est-ce qu'un Blog ?</h3>

      <p> </p>

      <p class="paraserv" >
        La définition du blogging (ou Blogue en Français),
        c’est tenir un blog, c’est à dire publier du contenu (texte, vidéos…)
        sur une entreprise ou sur une thématique particulière.
        Le blogging est une abréviation du terme weblog
         (web = internet et log = journal), cela Il concerne
         l’utilisation d’un blog qui est une plateforme en
         ligne destinée aux particuliers comme aux professionnels.
       </p>
       <p class="paraserv" >
        Le blog offre également la possibilité d’insérer des liens
        ainsi que des commentaires afin de pouvoir interagir
        avec les différents visiteurs.Un blog peut être utilisée à titre personnel
        ou professionnel,  dans le but de d’attirer et de fédérer une communauté sur une même passion sur un ou plusieurs sujets déterminés.
       </p>
      <p class="paraserv">
        Le blogging est une abréviation du terme weblog
        (web = internet et log = journal), cela Il concerne
        l’utilisation d’un blog qui est une plateforme en ligne
         destinée aux particuliers comme aux professionnels.

      </p>
      <p class="paraserv" >
        Pour un particulier, le blog est un moyen efficace pour partager
         sa passion avec autrui, se créer de nouvelles relations,
         voire monter en compétences.A terme, le blog pourra permettre
         à son administrateur  de gagner de l’argent à travers la promotion
         de produits ou de services (la monétisation).
        </p>
    </div>
  </div>


</div>
