<div class="wrapper row4">

  <footer id="footer" class="hoc clear">
    <div class="group">
      <div class="one_third first">
        <!--        <div class="about-header">-->
        <div class="">
          <article class="center">
            <img src="../assets/images/Loggo5.jpg"/>
          </article>
          <!--          </div>-->
          <br />
          <div class="row">
            <div class="ml-auto mr-auto text-justify">
              <p>2SI une société spécialisée dans la mise en place de solutions logicielles et les automatismes.
                Elle a été créée en 2001 par des ingénieurs polytechniciens.
                Elle se positionne comme un des leaders dans ce domaine en Afrique de l’Ouest.
              </p>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="one_third">
        <h6 class="heading">CONTACTS</h6>
        <ul class="nospace btmspace-30 linklist contact">
          <li><i class="fas fa-map-marker-alt"></i>
            <address>
              Groupe 2SI sa
              4250, Sicap Amitiés 3
              BP 14179 Dakar Peytavin
            </address>
          </li>
          <li><i class="fas fa-phone"></i>+221 33 865 11 50/+221 33 864 51 84</li>
          <li><i class="far fa-envelope"></i>ssi@ssi.sn</li>
        </ul>
        <ul class="faico clear">
          <li><a class="faicon-facebook" href="https://web.facebook.com/Groupe-2SI-1380232618907004/?ref=pages_you_manage"><i class="fab fa-facebook"></i></a></li>
          <li><a class="faicon-google-plus" href="https://myaccount.google.com/u/2/"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a class="faicon-linkedin" href="https://www.linkedin.com/company/2si/mycompany/"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="faicon-twitter" href="https://twitter.com/groupe2si"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="one_third">
        <h6 class="heading">Liens Utiles</h6>
        <ul class="nospace linklist">
          <li><a routerLink="service-eticketing">e-ticketing</a></li>
          <li><a routerLink="service-esigmap">e-sigmap</a></li>
        </ul>
      </div>
    </div>

  </footer>
</div>
